@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/backgroun\ image.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
    filter: blur(2px);
}
.home-content{
    width: 1000px;
    height: 500px;

    margin-top: 50px;
    margin-left: 180px;
    background-image: url(./images/homepages.jpg);
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    position: relative;
}
img{
    height: 400px;
    width: 600px;
    position: absolute;
    top: 80px;
    left: 40px;
}
.image{
    opacity: 0.2;
    position: absolute;
    left: -90px;
}
.navbar{
    width: 100%;
     padding: 20px 20px;
     text-shadow: 2px 0px 5px;
}
.navbar a{
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
.navbar a:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color:white;
    transition: 0.5s;
    transition-timing-function: ease-in;
    box-shadow: 2px 0px 5px;
}
a.nav-intro{
    left: 0;
}
a.nav-intro{
    width: 60%;
}
a.nav-intro:hover:before{
    left: 20%;
    width: 55%;
}
a.nav-home{
    left: 0;
}
a.nav-home:hover:before{
    width: 60%;
}
a.nav-cast:before{
    left: 20%;
}
a.nav-cast:hover:before{
    width: 60%;
    right: 10%;
}
a.nav-about{
    left: 0;
}
a.nav-about:hover:before{
    width: 60%;
    left: 18%;
}
a.nav-buy{
    left: 0;
}
a.nav-buy:hover:before{
    width: 50%;
    left: 25%;
}
.icon{
    width: 50px;
    height: 150px;
    position: absolute;
    left: 95%;
    top: 30%;
    padding: 20px 10px 20px ;
}
.facebook{
    margin-top: 10px;
    width: 15px;
    border-radius: 30%;
}
.fa-facebook-f:hover{
    text-shadow: 2px 0px 13px rgb(255, 255, 255);
}
.insta {
    margin-top: 10px;
}
.fa-instagram:hover{
    text-shadow: 2px 0px 13px rgb(255, 255, 255);
}
.twitter{
    margin-top: 10px;
}
.fa-twitter:hover{
    text-shadow: 2px 0px 13px rgb(255, 255, 255);
}
.youtube {
    margin-top: 10px;
}
.fa-youtube:hover{
    text-shadow: 2px 0px 13px rgb(255, 255, 255);
}
.icon a{
    color: white;
    font-size:larger;
}
.line1{
    width: 3px;
    height: 100px;
    background-color: gold;
    border-radius: 2px;
    position: absolute;
    left: 966px;
    box-shadow: 0px 0px 5px white;
}
.uparrow{
    color: white;
    position: absolute;
    left: 959px;
    top: 40px;
    font-size: 20px;
    
}
.line2{
    width: 3px;
    height: 100px;
    background-color: gold;
    border-radius: 2px;
    position: absolute;
    left: 968px;
    top:340px;
    box-shadow: 0px 0px 5px white;
}
.downarrow{
    color: white;
    position: absolute;
    left: 961px;
    top: 435px;
    font-size: 20px;
}
.para{
   
    color: gold;
    font-size: 15px;
    position: absolute;
    top: 430px;
    left: 450px;
    text-shadow: 2px 0px 5px;
}
.trailer-content{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 50%;
    
}
.play-button{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid white;
}
.fa-play{
    color: white;
    text-shadow: 2px 0px 13px rgb(255, 255, 255);
}

@keyframes transitionIN {
    from{
        opacity: 0;
        transform: scale(0); 
       
     }

to{
        opacity: 1;
        transform: scale(1);
       }
}

.home{
    animation: transitionIN 2s ;
    transition-timing-function: ease-in-out;
    
}



  @media screen and (min-width:300px) and (max-width:780px){

  
  .background{
        display: none;
       }
   .home-content{
    width: 100%;
    height: 500px;
    background-image: url(./images/joel\ &ellie\ main.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px 0px 0px;
    box-shadow: none;
   }
   .image{
    display: none;
   }
  .navbar a{
    display: flex;
    font-size: 15px;
    color: gold;
    cursor: pointer;
}
.navbar a:hover{
    color: white;
}
.navbar a::before{
    display: none;
}
.image1{
    position: absolute;
   top: 68%;
   left: -30%;
   width: 80%;
   height: 35%;
}
.line1,.line2{
    display: none;
}
.uparrow,.downarrow{
  display: none;
}
.icon{
    position: absolute;
   top: 72%;
   left: 85%;
   margin:0px 0px 50px; 
}
.icon div{
    margin-top: 0px;
}
.icon i{
    font-size: 20px;
}
.para{
   display: none;
}
.trailer-content{
   display: none;
}

 } 




